*.jpeg
*.jpg
*.pdf
*.png
.DS_Store
.classpath
.idea
.iml
.project
.settings
.tern-project
.vscode
nb-configuration.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
